/**
 * E-shop Skiresort Card
 * @author Martin Dobry
 * @link http://skiresortcard.cz
 * @version 1.0
 */

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	margin: 0 auto;
	padding: 30px 0 20px 0;
	text-align: center;
}

h2 {
	margin: 0 auto;
	padding: 30px 0 20px 0;
}

h4 {
	margin: 0 auto;
	padding: 20px 0 10px 0;
}

pre {
	font-family: 'Inconsolata', monospace;
	position: relative;
	border: 1px solid #666;
	padding: 10px;
	background-color: #eee;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}
